<a href="https://colab.research.google.com/github/MiyoBran/Alura-ONE-G9/blob/main/formacion-Aprendiendo-a-hacer-ETL-G9-ONE/06-visualizacion-datos-estilizando-tablas-python/ETL_06_Estilizacion_de_tablas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Visualization: Estilizando tablas con python**

## **Extracción y preparación de los datos**

In [ ]:
# Si no usas colab , instala un pandas posterior  a 2.0.0
# !pip install pandas==2.0.0

In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

## Debemos hacer un analis sobre ventas segun los requisitos de diferentes equipos

In [3]:
# El conjunto de datos esta en gist de github , usa como separador #
ventas = pd.read_csv('https://gist.githubusercontent.com/ahcamachod/d2efadda3f3833d65da750c64705ac42/raw/80aef6f3bad210d34b67ed85565f039a30e2d9e0/ventas.csv', sep='#')
display(ventas.head())

,fecha_pedido,fecha_envio,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,precio_base,precio_unit_sin_descuento,descuento,precio_unit_venta,cantidad,ventas,ganancia
0,2018-11-09,2018-11-12,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,409.70,445.33,0.000,445.33,2,890.66,71.26
1,2018-11-09,2018-11-12,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,705.10,829.53,0.000,829.53,3,2488.59,373.29
2,2018-06-13,2018-06-17,Económica,Matías González,B2B,Córdoba,Córdoba,Central,Jardinería y paisajismo,Semillas,19.02,24.86,0.000,24.86,2,49.72,11.68
3,2017-10-12,2017-10-19,Entrega estándar,Lucas González,B2C,Gualeguay,Entre Ríos,Litoral,Materiales de construcción,Materiales de revestimiento,781.38,840.19,0.225,651.15,5,3255.75,-651.15
4,2017-10-12,2017-10-19,Entrega estándar,Lucas González,B2C,Gualeguay,Entre Ríos,Litoral,Jardinería y paisajismo,Macetas,35.88,42.24,0.100,38.02,2,76.04,4.28

In [4]:
# Solo usaremos algunas columnas del dataset, filtramos
ventas = ventas[['fecha_pedido','modo_envio','nombre_cliente','segmento_cliente','ciudad','provincia','region','departamento','tipo_producto','ventas','cantidad','ganancia']]

display(ventas.head(2))

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29

In [5]:
#Conocemos el tamaño del datafram
ventas.shape

(8940, 12)

In [6]:
#Informacion sobre las columnas y la integridad de los datos ,no hay datos nulos
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_pedido      8940 non-null   object
 1   modo_envio        8940 non-null   object
 2   nombre_cliente    8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   ciudad            8940 non-null   object
 5   provincia         8940 non-null   object
 6   region            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_producto     8940 non-null   object
 9   ventas            8940 non-null   float64
 10  cantidad          8940 non-null   int64
 11  ganancia          8940 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 838.3+ KB

In [7]:
#De lo anterior surge que solo debemos trasnformar a datetime la fecha_pedido
ventas['fecha_pedido'] = pd.to_datetime(ventas['fecha_pedido'],format='%Y-%m-%d')
ventas.head(2)

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29

In [8]:
#Verificamos
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_pedido      8940 non-null   datetime64[ns]
 1   modo_envio        8940 non-null   object
 2   nombre_cliente    8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   ciudad            8940 non-null   object
 5   provincia         8940 non-null   object
 6   region            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_producto     8940 non-null   object
 9   ventas            8940 non-null   float64
 10  cantidad          8940 non-null   int64
 11  ganancia          8940 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 838.3+ KB

### 🗄️ Ingesta y Preparación de Datos (ETL): Enfoque Senior

**Contexto del Negocio:**
Consumimos un dataset transaccional de ventas (Tickets). El objetivo es preparar esta sábana de datos para la construcción de reportes tabulares de alto nivel gerencial.

**Arquitectura del Código (Method Chaining):**
En lugar de mutar el DataFrame paso a paso a lo largo de múltiples celdas (lo que genera riesgos si se ejecutan en desorden), aplicamos el patrón de "Encadenamiento de Métodos". Esto consolida la extracción, el filtrado de columnas (Feature Selection) y el parseo de tipos de datos en una sola transacción atómica y eficiente.

In [9]:
import pandas as pd

# ==============================================================================
# PIPELINE DE INGESTA Y PREPARACIÓN (Method Chaining)
# ==============================================================================
print("🚀 Ejecutando Pipeline de Extracción y Transformación...")

url_datos = 'https://gist.githubusercontent.com/ahcamachod/d2efadda3f3833d65da750c64705ac42/raw/80aef6f3bad210d34b67ed85565f039a30e2d9e0/ventas.csv'

# Definimos las columnas estrictamente necesarias para el modelo de negocio
columnas_negocio = [
    'fecha_pedido', 'modo_envio', 'nombre_cliente', 'segmento_cliente',
    'ciudad', 'provincia', 'region', 'departamento', 'tipo_producto',
    'ventas', 'cantidad', 'ganancia'
]

# Ejecutamos la lectura, el filtrado y la conversión de fechas en un solo bloque
df_ventas = (
    pd.read_csv(url_datos, sep='#')
    .loc[:, columnas_negocio]                                      # 1. Filtramos las columnas
    .assign(fecha_pedido=lambda x: pd.to_datetime(x['fecha_pedido'])) # 2. Parseo seguro de Fechas
)

# ==============================================================================
# AUDITORÍA DE DATOS
# ==============================================================================
print("\n✅ DataFrame 'df_ventas' instanciado con éxito.")
print("-" * 50)
print(f"Dimensión de la matriz : {df_ventas.shape[0]} Filas x {df_ventas.shape[1]} Columnas")
print("-" * 50)

# Mostramos la cabecera para confirmar la estructura
display(df_ventas.head(3))

🚀 Ejecutando Pipeline de Extracción y Transformación...

✅ DataFrame 'df_ventas' instanciado con éxito.
--------------------------------------------------
Dimensión de la matriz : 8940 Filas x 12 Columnas
--------------------------------------------------

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29
2,2018-06-13,Económica,Matías González,B2B,Córdoba,Córdoba,Central,Jardinería y paisajismo,Semillas,49.72,2,11.68

### 📖 Diccionario de Datos: Reporte de Ventas (2016 - 2019)

Para construir reportes tabulares efectivos, es fundamental comprender la naturaleza de cada variable. A continuación, se detalla la metadata del conjunto de datos de la tienda departamental:

| Columna | Tipo de Dato | Descripción del Negocio |
| :--- | :--- | :--- |
| **`fecha_pedido`** | Temporal | Fecha exacta en la que el cliente confirmó la transacción. |
| **`modo_envio`** | Categórico | Prioridad o método de logística seleccionado para la entrega. |
| **`nombre_cliente`** | Texto | Identificación nominal del comprador. |
| **`segmento_cliente`** | Categórico | Clasificación del modelo de negocio del cliente (Ej. B2B corporativo o B2C consumidor final). |
| **`ciudad`** | Geográfico | Ciudad destino de la entrega. |
| **`provincia`** | Geográfico | Provincia destino de la entrega (Nivel de agregación medio). |
| **`region`** | Geográfico | Región macro a la que pertenece la provincia (Ej. Norte, Sur, Centro). |
| **`departamento`** | Categórico | Macro-categoría del catálogo a la que pertenece el producto. |
| **`tipo_producto`** | Categórico | Sub-categoría o clasificación específica del producto vendido. |
| **`ventas`** | Numérico (Moneda) | Ingreso bruto generado por la transacción (Revenue). |
| **`cantidad`** | Numérico (Entero) | Unidades físicas del producto despachadas en el pedido. |
| **`ganancia`** | Numérico (Moneda) | Resultado neto de la operación (Ingresos - Costos). Valores negativos indican pérdida (Loss). |

# Misión 1: Equipo de Ventas

Necesitamos construir una visualización para indicar los **10 principales clientes por total de ventas**.

Con ello, el equipo de ventas puede pensar en estrategias para mantener a estos clientes comprando en nuestra tienda.

In [10]:
# Crearemos un nuevo dataframe con los principales clientes
# Nuestro grooupby por el nombre_cliente , haciendo la sum de todas las ventas ,
# y aplicando nlargest conseguimos los 10 mayores. a la vez hacemos una copia
# (defensivo). No olvidar de resetear el indice
clientes = ventas.groupby(['nombre_cliente'])['ventas'].sum().nlargest(10).copy()
clientes = clientes.reset_index()
clientes

      nombre_cliente    ventas
0    Víctor Carrasco  73370.61
1        Brisa Rojas  68868.11
2       Mateo Vargas  62749.75
3      Vicente Rojas  59544.11
4        Laura Rojas  51398.87
5         Lucía Díaz  48178.99
6   Cristina Barrios  47610.80
7  Alejandro Sánchez  43769.25
8      Pamela Huerta  42354.19
9     Carlos Sánchez  41238.81

In [11]:
# El Renombrado de las columnas usando diccionario se hace de esta forma, un
# diccionario con llave el nombre viejo , y valor el nombre nuevo, luego
# utilizamos .rename(columns=diccionario)
# dic = {'nombre_cliente':'Clientes', 'ventas':'Ventas'}
# clientes = clientes.rename(columns=dic)

#Mejoraremos con la forma mas sencilla los nombres de las columnas
clientes.columns = ['Clientes','Ventas']
#Crearemos una columna adicional llamada ranking , que empieza en 1
clientes['Ranking'] = clientes.index + 1
#Luego cambiamos nuestra columna ranking para que sea nuestro index
clientes.set_index('Ranking', inplace = True)
clientes

                  Clientes    Ventas
Ranking
1          Víctor Carrasco  73370.61
2              Brisa Rojas  68868.11
3             Mateo Vargas  62749.75
4            Vicente Rojas  59544.11
5              Laura Rojas  51398.87
6               Lucía Díaz  48178.99
7         Cristina Barrios  47610.80
8        Alejandro Sánchez  43769.25
9            Pamela Huerta  42354.19
10          Carlos Sánchez  41238.81

### 🏆 Misión 1: Pipeline de Agregación (Top 10 Clientes)

**Contexto del Negocio:**
El equipo de ventas requiere identificar a los 10 clientes con mayor volumen de facturación histórica para integrarlos a un programa de fidelización (VIP).

**Arquitectura del Código (Clean Code):**
* **Split-Apply-Combine:** Utilizamos `.groupby()` para segmentar las ventas por cliente y `.sum()` para agregar el ingreso total.
* **Selección Eficiente:** `.nlargest()` es computacionalmente superior a ordenar todo el dataset (`.sort_values()`) y luego cortar los primeros 10 con `.head()`.
* **Renombrado Seguro:** El método `.rename(columns={...})` mediante diccionario garantiza que los nombres cambien correctamente sin depender del orden posicional de las columnas.
* **Índice Semántico:** Reemplazamos el índice autogenerado (0, 1, 2...) por un rango del 1 al 10, dándole el nombre semántico de `Ranking` para prepararlo para la presentación visual.

In [12]:
# ==============================================================================
# PIPELINE DE AGREGACIÓN: TOP 10 CLIENTES (Enfoque Senior)
# ==============================================================================
print("🥇 Generando Ranking de Cuentas Clave (Key Accounts)...")

# Encadenamiento de métodos para transformación segura
df_top_clientes = (
    df_ventas
    .groupby('nombre_cliente', as_index=False)['ventas'].sum()  # Agrupamos y sumamos
    .nlargest(10, columns='ventas')                             # Filtramos los 10 mayores
    .rename(columns={'nombre_cliente': 'Cliente', 'ventas': 'Ventas'}) # Renombramos
)

# Ajuste del Índice para que funcione como nuestro Ranking (1 al 10)
df_top_clientes.index = range(1, 11)
df_top_clientes.index.name = 'Ranking'

# Visualización del resultado crudo (sin estilizar aún)
display(df_top_clientes)

🥇 Generando Ranking de Cuentas Clave (Key Accounts)...

                   Cliente    Ventas
Ranking
1          Víctor Carrasco  73370.61
2              Brisa Rojas  68868.11
3             Mateo Vargas  62749.75
4            Vicente Rojas  59544.11
5              Laura Rojas  51398.87
6               Lucía Díaz  48178.99
7         Cristina Barrios  47610.80
8        Alejandro Sánchez  43769.25
9            Pamela Huerta  42354.19
10          Carlos Sánchez  41238.81

In [13]:
# Debemos "crear" nuestro objeto estilo , que surge de aplicarle al dataframe la
# propiedad style
estilo = clientes.style
#La visualizacion de nuestra nueva variable es diferente a la que nos mostraba
estilo

In [ ]:
# Ponemos el formatyo que queremos con separador de miles como coma, y 2 cifras
# decimales.
estilo.format({'Ventas':'{:,.2f}'})
estilo

In [ ]:
# Debemos "crear" nuestro objeto estilo , que surge de aplicarle al dataframe la
# propiedad style
estilo = clientes.style
#La visualizacion de nuestra nueva variable es diferente a la que nos mostraba
estilo

In [ ]:
# Ponemos el formatyo que queremos con separador de miles como coma, y 2 cifras
# decimales.
estilo.format({'Ventas':'{:,.2f}'})
estilo

In [ ]:
# Debemos "crear" nuestro objeto estilo , que surge de aplicarle al dataframe la
# propiedad style
estilo = clientes.style
#La visualizacion de nuestra nueva variable es diferente a la que nos mostraba
estilo

In [ ]:
# Ponemos el formatyo que queremos con separador de miles como coma, y 2 cifras
# decimales.
estilo.format({'Ventas':'{:,.2f}'})
estilo

### 🎨 La Capa de Presentación: El Objeto `Styler` y Formateo Numérico

**Contexto Tecnológico:**
Al invocar `df.style`, Pandas retorna un objeto `Styler`. Este objeto expone una API para inyectar reglas de diseño (CSS) y transformaciones de texto que modifican **únicamente la visualización HTML** de la tabla, sin alterar los datos matemáticos subyacentes.

**Diseño Financiero (String Formatting):**
Para los reportes de ventas, utilizamos el micro-lenguaje de formateo de Python.
Desglose de la regla `"${:,.2f}"`:
* `$`: Símbolo literal de moneda que aparecerá al inicio.
* `:`: Indica el comienzo de la regla de formato.
* `,`: Instruye al motor a usar comas como separadores de miles.
* `.2f`: Limita la precisión a 2 decimales flotantes (*float*), estandarizando los centavos.

In [16]:
# ==============================================================================
# ESTILIZACIÓN Y FORMATEO FINANCIERO (Capa de Presentación)
# ==============================================================================
print("💎 Renderizando Reporte Financiero para el Equipo de Ventas...")

# Definimos las reglas de formato en un diccionario para mantener el código limpio
formato_columnas = {
    'Ventas': '${:,.2f}' # Agregamos el símbolo $ para contexto de negocios
}

# Aplicamos el estilo directamente encadenando el método .format()
reporte_ventas_estilizado = df_top_clientes.style.format(formato_columnas)

# Desplegamos el objeto Styler final
display(reporte_ventas_estilizado)

💎 Renderizando Reporte Financiero para el Equipo de Ventas...

### 📤 Exportación de Reportes Estilizados (Objetos `Styler`)

**Contexto Tecnológico:**
Una vez que inyectamos CSS y formatos financieros en nuestra tabla con `.style`, esta deja de ser un DataFrame puro y se convierte en un objeto `Styler`. Pandas expone métodos nativos para renderizar este objeto directamente en los formatos ofimáticos y web más utilizados por los tomadores de decisiones.

**Métodos de Exportación Soportados:**
1. **`to_html()`:** Genera el código HTML puro con el CSS embebido. Ideal para incrustar el reporte en Dashboards web, correos electrónicos corporativos o intranets.
2. **`to_excel()`:** Renderiza la tabla en un archivo `.xlsx`. Mantiene los colores, formatos numéricos y estilos visuales, permitiendo que el área de finanzas continúe su análisis en Microsoft Excel. *(Requiere el motor `openpyxl`)*.
3. **`to_latex()`:** Transforma la tabla al lenguaje de marcado científico LaTeX. Imprescindible para publicaciones académicas y documentación técnica rigurosa.

> ⚠️ **Nota de Arquitectura:** Si necesitas exportar a un formato plano sin formato visual (como un `.csv`), no puedes usar el objeto `Styler`. Debes aplicar el método de exportación (`to_csv()`) directamente sobre el DataFrame original.

In [17]:
import pandas as pd

# ==============================================================================
# DEMOSTRACIÓN: Exportación Multi-Formato de Objetos Styler
# ==============================================================================
print("🖨️ Generando archivos de reporte (HTML, Excel, LaTeX)...")

# 1. Dataset de prueba (Películas)
datos_peliculas = {
    'Género': ['Drama', 'Comedia', 'Acción', 'Ciencia Ficción', 'Terror'],
    'Nota Media': [4.5, 4.3, 4.2, 4.1, 3.8],
    'Cantidad de Evaluaciones': [1500, 1200, 1000, 800, 600]
}

# 2. Pipeline de Transformación (Method Chaining)
df_peliculas = (
    pd.DataFrame(datos_peliculas)
    # Calculamos el ranking denso basado en evaluaciones y lo forzamos a entero
    .assign(Ranking=lambda x: x['Cantidad de Evaluaciones'].rank(method='dense', ascending=False).astype(int))
    # Asignamos el ranking como índice para la presentación
    .set_index('Ranking')
)

# 3. Instanciamos el objeto Styler (Capa de Presentación)
reporte_estilizado = df_peliculas.style

# ==============================================================================
# 4. EXPORTACIÓN A DISCO
# ==============================================================================
# Web / Email
reporte_estilizado.to_html('reporte_peliculas.html')

# Microsoft Excel
reporte_estilizado.to_excel('reporte_peliculas.xlsx', engine='openpyxl')

# LaTeX (Documentación Académica/Técnica)
with open('reporte_peliculas.tex', 'w') as f:
    f.write(reporte_estilizado.to_latex())

print("✅ Exportación exitosa. Revisa el explorador de archivos de Colab.")
display(reporte_estilizado)

🖨️ Generando archivos de reporte (HTML, Excel, LaTeX)...
✅ Exportación exitosa. Revisa el explorador de archivos de Colab.

# Misión 2: Equipo Comercial

Necesitamos construir una visualización que permita asociar el **total de ventas y el total de lucros por tipo de producto**.

Ello permitirá que el equipo comercial pueda enfocarse en estrategias para apalancar los ingresos que se reciben con cada tipo de producto vendido en la tienda.

In [18]:
# Creamos nuestro nuevo datframe
ganancias_ventas = ventas.groupby(['tipo_producto'])[['ventas','ganancia']].sum()
ganancias_ventas

                                 ventas  ganancia
tipo_producto
Brotes                          8811.32   1381.42
Decoración de jardín           82680.08   9939.43
Equipos de limpieza           542304.58   8724.39
Fertilizantes                  53144.74  11254.88
Fontanería                    373223.88  -5622.34
Herramientas                  995158.41  41020.34
Herramientas automotrices     502109.29  63330.22
Herramientas de jardinería    648879.72  53202.88
Iluminación                   275229.53  20264.54
Macetas                       696044.18  33941.85
Materiales de paisajismo      150552.49  -1912.37
Materiales de revestimiento   629656.36 -28869.01
Muebles de exterior           328932.27  26784.59
Neumáticos                   1022428.97  67460.05
Pesticidas                    244956.04  53343.89
Piezas de repuesto            486907.94  91148.67
Semillas                       39979.75   8865.09

In [19]:
# Cambiamos el nombre del indice para que no sea tipo_producto
ganancias_ventas.index.name = 'tipo de producto'
ganancias_ventas

                                 ventas  ganancia
tipo de producto
Brotes                          8811.32   1381.42
Decoración de jardín           82680.08   9939.43
Equipos de limpieza           542304.58   8724.39
Fertilizantes                  53144.74  11254.88
Fontanería                    373223.88  -5622.34
Herramientas                  995158.41  41020.34
Herramientas automotrices     502109.29  63330.22
Herramientas de jardinería    648879.72  53202.88
Iluminación                   275229.53  20264.54
Macetas                       696044.18  33941.85
Materiales de paisajismo      150552.49  -1912.37
Materiales de revestimiento   629656.36 -28869.01
Muebles de exterior           328932.27  26784.59
Neumáticos                   1022428.97  67460.05
Pesticidas                    244956.04  53343.89
Piezas de repuesto            486907.94  91148.67
Semillas                       39979.75   8865.09

In [20]:
#Creamos el estilo , sobre el que trabajaremos a partir de ahora
estilo_producto = ganancias_ventas.style
estilo_producto

In [21]:
# Inicialmente le damos el formato para que se vea la coma como separador , los
# usd y con dos decimales.
estilo_producto.format('USD {:,.2f}')

In [22]:
# Al formato anterior , lo guardamos en una variable , y a la usamos el
# highliht_max y highlight_min para que resalte el valor maximo y minimo de cada
# columna.
estilo_producto = estilo_producto.format('USD {:,.2f}').highlight_max(color='lightgreen').highlight_min(color='red')
estilo_producto

### 🎨 Teoría UI/UX: Data Storytelling con Colores

El color en un reporte financiero no cumple una función decorativa, sino **cognitiva**. Aplicar colores de forma aleatoria o excesiva distrae y confunde al tomador de decisiones. Para construir tablas efectivas, aplicamos las siguientes reglas de Arquitectura Visual:

1. **Semántica del Color:** Los colores deben asociarse a una narrativa universal.
   * **Rojo/Naranja (Colores Cálidos):** Representan alerta, peligro o pérdida financiera. Atraen inmediatamente el ojo humano.
   * **Verde/Azul (Colores Fríos):** Representan éxito, rentabilidad positiva o estabilidad.
2. **Reducción de Carga Cognitiva:** Evitar el uso de tablas estilo "arcoíris". Se debe usar un fondo neutro (blanco/gris) y aplicar color *únicamente* a los valores atípicos (máximos y mínimos) para guiar la vista directamente hacia donde se requiere acción gerencial.
3. **Ergonomía Visual (A11y):** No se deben utilizar colores puros o saturados (ej. rojo sangre o verde flúor) porque cansan la vista al leer números en pantalla. Es un estándar de la industria utilizar **tonos pastel (Soft Hex Codes)** para los fondos de las celdas, garantizando el contraste con la tipografía negra.

# ==============================================================================
# PIPELINE DE RENTABILIDAD Y FORMATO CONDICIONAL (Misión 2)
# ==============================================================================
print("📊 Generando Reporte de Rentabilidad por Tipo de Producto...")

# 1. Transformación de Datos (Agrupación y Renombrado Semántico)
df_rentabilidad = (
    df_ventas
    .groupby('tipo_producto')[['ventas', 'ganancia']].sum()
    .rename_axis('Tipo de Producto')                                      # Limpiamos el nombre del índice
    .rename(columns={'ventas': 'Ingresos Brutos', 'ganancia': 'Utilidad'}) # Lenguaje de Negocios
)

# 2. Definición de Paleta Corporativa (Hex Codes suaves para no cansar la vista)
COLOR_ALERTA = '#f8d7da' # Rojo pastel (Pérdidas / Mínimos)
COLOR_EXITO = '#d4edda'  # Verde pastel (Líderes / Máximos)

# 3. Capa de Presentación (Styler Chaining)
reporte_comercial_estilizado = (
    df_rentabilidad.style
    .format('USD {:,.2f}')                    # Aplicamos el formato moneda a toda la tabla
    .highlight_max(color=COLOR_EXITO)         # Iluminamos a los líderes (El que más vende y el que más gana)
    .highlight_min(color=COLOR_ALERTA)        # Iluminamos a los rezagados (El que menos vende y el que da pérdidas)
)

# Renderizado final
display(reporte_comercial_estilizado)

In [24]:
# ==============================================================================
# PIPELINE DE RENTABILIDAD Y FORMATO CONDICIONAL (Misión 2)
# ==============================================================================
print("📊 Generando Reporte de Rentabilidad por Tipo de Producto...")

# 1. Transformación de Datos (Agrupación y Renombrado Semántico)
df_rentabilidad = (
    df_ventas
    .groupby('tipo_producto')[['ventas', 'ganancia']].sum()
    .rename_axis('Tipo de Producto')                                      # Limpiamos el nombre del índice
    .rename(columns={'ventas': 'Ingresos Brutos', 'ganancia': 'Utilidad'}) # Lenguaje de Negocios
)

# 2. Definición de CSS Corporativo (Fondo Pastel + Texto Oscuro forzado)
# Usamos el código #212529 (un gris casi negro muy usado en diseño web) para
# la legibilidad
CSS_ALERTA = 'background-color: #f8d7da; color: #212529;'
CSS_EXITO  = 'background-color: #d4edda; color: #212529;'

# 3. Capa de Presentación (Styler Chaining)
reporte_comercial_estilizado = (
    df_rentabilidad.style
    .format('USD {:,.2f}')                    # Aplicamos el formato moneda a toda la tabla
    .highlight_max(props=CSS_EXITO)           # Usamos 'props' en lugar de 'color'
    .highlight_min(props=CSS_ALERTA)       # Iluminamos a los rezagados (El que menos vende y el que da pérdidas)
)

# Renderizado final
display(reporte_comercial_estilizado)

📊 Generando Reporte de Rentabilidad por Tipo de Producto...

In [25]:
# Podemos ademas representar usando una escala de colores para visualizar mejor
# los colores , el parametro cmap , indica el mapa de colores que usaremos
estilo_producto.background_gradient(cmap='Greens')

In [26]:
# Estilizaremos mejor el encabezado , creando el css -->etiqueta th (table
# header). luego las props que queremos modificar. Es importante respetar el
# orden.
encabezado = {
              'selector':'th',
              'props':'font-weight:bold; font-family:Arial; text-align:center; text-transform:capitalize'
}

In [27]:
# Aplicamos el Estilo usando set_table_styles , usamos el parametro
# overwrite=False para que el cambio sea estetico pero no cambiemos nada.
estilo_producto.set_table_styles([encabezado],overwrite=False)

### 🖥️ UI/UX Analítico: Heatmaps y Especificidad CSS

**Contexto del Negocio:**
Para un equipo comercial, un mapa de calor (Gradient) permite ver la distribución general del volumen de negocio, mientras que las alertas duras (Min/Max) indican dónde tomar acción inmediata.

**Arquitectura del Objeto Styler (Cascada CSS):**
1. **Encabezados Corporativos:** Utilizamos selectores HTML (`th` para Table Header) inyectando propiedades de alineación, fuentes sin serifas (Arial) y capitalización.
2. **Orden de Ejecución (El secreto del éxito):**
   * Primero aplicamos `.background_gradient()` para teñir toda la columna matemáticamente.
   * Segundo, aplicamos `.highlight_max()` y `.highlight_min()`. Al ejecutarse después, el motor CSS de Pandas permite que estas reglas sobrescriban el gradiente en las celdas extremas, garantizando que las alertas visuales no se pierdan en el mapa de calor.

In [38]:
# ==============================================================================
# PIPELINE DE FRONT-END TABULAR (Heatmap + Encabezados Corporativos)
# ==============================================================================
print("✨ Renderizando Interfaz Tabular (Mapa de Calor Puro)...")

# 1. Definición de Reglas CSS (Estándar Pythonico: Lista de Diccionarios y Tuplas)
estilos_corporativos = [
    {
        'selector': 'th', # Afecta solo a los encabezados de la tabla
        'props': [
            ('font-family', 'Arial, sans-serif'),
            ('font-weight', 'bold'),
            ('text-align', 'center'),
            ('text-transform', 'capitalize'),
            ('background-color', '#343a40'), # Fondo gris oscuro elegante
            ('color', '#ffffff'),            # Letra blanca para contraste
            ('padding', '10px 20px')         # Aire entre el texto y el borde
        ]
    },
    {
        'selector': 'td', # Afecta a las celdas de datos
        'props': [('padding', '8px 15px')]
    }
]

# 2. Encadenamiento Maestro del Objeto Styler
reporte_comercial_heatmap = (
    df_rentabilidad.style
    .format('USD {:,.2f}')                                    # Formato financiero
    .background_gradient(cmap='Blues')                       # Mapa de calor orgánico
    .set_table_styles(estilos_corporativos, overwrite=False)  # Inyecta el marco y los encabezados
)

# Renderizado final
display(reporte_comercial_heatmap)

✨ Renderizando Interfaz Tabular (Mapa de Calor Puro)...

# Misión 3: Equipo de Logística

Necesitamos construir una visualización que nos permita entender la **distribución de pedidos por región en Argentina**.

Así, el equipo de logística va a saber dónde hay más oportunidad de enfocar los esfuerzos de material y mano de obra.

In [39]:
# preparamos el Dataframe que usaremos en este caso , con un conteo de ventas en
# cada una de las entradas region
region = pd.DataFrame(ventas['region'].value_counts())
#la columna sin renombrar es count
region.columns = ['N° Pedidos']
#tambien renombraremos region para que se vea mejor.
region.index.name = 'Región'
region

              N° Pedidos
Región
Buenos Aires        2822
Litoral             1924
Norte               1555
Central             1276
Cuyo                 915
Patagónica           448

In [40]:
# Buscamos mostrar los datos como porcentaje , por lo que usaremos numpy
import numpy as np

In [41]:
# Nuestra variable porcentaje  sera un numpy array
porcentaje = region['N° Pedidos'].to_numpy()
# Transformamos el numero
porcentaje = 100*porcentaje/porcentaje.sum()
#vemos el numpy array
porcentaje

array([31.56599553, 21.5212528 , 17.39373602, 14.27293065, 10.23489933,
        5.01118568])

In [42]:
#Creamos la columna en nuestro dataframe region
region['Porcentaje de Pedidos'] = porcentaje
region

              N° Pedidos  Porcentaje de Pedidos
Región
Buenos Aires        2822              31.565996
Litoral             1924              21.521253
Norte               1555              17.393736
Central             1276              14.272931
Cuyo                 915              10.234899
Patagónica           448               5.011186

In [43]:
#creamos nuestro objeto style
estilo_region = region.style
estilo_region

In [44]:
#Como habiamos hecho previamente , estilizamos el encabezado
encabezado = {
              'selector':'th',
              'props':'font-weight:bold; font-family:Arial; text-align:right; background-color:white'
}
# Tambien con la etiqueta td (table data), estilizamos el lugar donde estan los
# datos --> Usando un Diccionario/Mapa
celdas = {
              'selector':'td',
              'props':'background-color:white'
}
# le pasamos al set_table_styles nuestras variables con los diccionarios css
estilo_region.set_table_styles([encabezado,celdas])

In [45]:
# Haremos el formateo unicamente a la columnda de pedidos
estilo_region.format({'Porcentaje de Pedidos':'{:.2f} %'})\
                    .bar(subset='Porcentaje de Pedidos',vmin=0,vmax=100,color='#9cd3bb') # agregaremos el grafico de barras

### 🚚 Misión 3: Distribución Logística (Data Bars in-cell)

**Contexto del Negocio:**
El equipo de logística requiere optimizar la asignación de la flota de camiones. Para ello, necesitan conocer el "Market Share" (Porcentaje de Participación) de cada región sobre el total nacional de pedidos.

**Arquitectura del Código (Pandas Avanzado & In-cell Charts):**
* **Cálculo Nativo (`normalize=True`):** Evitamos exportar datos a NumPy para hacer matemáticas manuales. El método `.value_counts()` de Pandas calcula las frecuencias relativas automáticamente.
* **Fusión de Series (`pd.concat`):** Unimos el conteo absoluto (Nº Pedidos) con el conteo relativo (%) en un solo DataFrame de forma limpia.
* **Mini-gráficos (`style.bar`):** Inyectamos barras de progreso dentro de la columna de porcentajes. Esto convierte la tabla estática en un panel de control interactivo visualmente, permitiendo comparar proporciones en fracciones de segundo.

In [46]:
import pandas as pd

# ==============================================================================
# PIPELINE DE DISTRIBUCIÓN LOGÍSTICA (Market Share)
# ==============================================================================
print("🚚 Calculando Densidad de Pedidos por Región...")

# 1. Transformación de Datos (Cálculo Vectorizado y Nativo)
conteo_absoluto = df_ventas['region'].value_counts(ascending=False)
conteo_relativo = df_ventas['region'].value_counts(normalize=True, ascending=False) * 100

# Unimos ambas series en un DataFrame robusto
df_logistica = pd.concat([conteo_absoluto, conteo_relativo], axis=1)
df_logistica.columns = ['Nº Pedidos', 'Participación (%)']
df_logistica.index.name = 'Región'

# ==============================================================================
# 2. DEFINICIÓN DE CSS Y CAPA DE PRESENTACIÓN
# ==============================================================================
# Diseño "Clean" (Fondo blanco para no competir con las barras de progreso)
estilos_limpios = [
    {'selector': 'th', 'props': [('font-family', 'Arial'), ('font-weight', 'bold'), ('text-align', 'right'), ('background-color', 'white'), ('color', 'black')]},
    {'selector': 'td', 'props': [('background-color', 'white'), ('color', 'black')]}
]

# Color corporativo para las barras (Verde Menta)
COLOR_BARRA = '#9cd3bb'

# ==============================================================================
# 3. RENDERIZADO (Mini-Gráficos In-Cell)
# ==============================================================================
reporte_logistica_estilizado = (
    df_logistica.style
    .set_table_styles(estilos_limpios)
    .format({'Nº Pedidos': '{:,}', 'Participación (%)': '{:.2f}%'}) # Formato condicional mixto
    .bar(
        subset=['Participación (%)'], # La columna que dibujará la barra
        vmin=0, vmax=100,             # La escala (0 al 100%)
        color=COLOR_BARRA,            # El color de la barra
        height=70,                    # Altura de la barra (porcentaje de la celda)
        width=80                      # Ancho máximo de la barra
    )
)

# Despliegue del reporte
display(reporte_logistica_estilizado)

🚚 Calculando Densidad de Pedidos por Región...

### 🎨 Fundamentos UI/UX: Propiedades CSS aplicadas a DataFrames

**El Front-End de los Datos:**
CSS (Cascading Style Sheets) es el lenguaje universal de la web para el diseño visual. Cuando estilizamos tablas en Pandas, en realidad estamos inyectando reglas CSS dentro del código HTML que genera el cuaderno (Jupyter/Colab).



Conocer el vocabulario CSS nos permite construir reportes corporativos altamente personalizados. Las propiedades más utilizadas en el análisis de datos son:

* **Manejo de Color:**
  * `background-color`: Define el color de fondo de la celda (Ideal para mapas de calor o alertas).
  * `color`: Define el color de la tipografía (Crucial para garantizar el contraste visual).
* **Tipografía y Alineación:**
  * `font-weight`: Grosor de la letra (Ej. `bold` para destacar encabezados o totales).
  * `font-size`: Tamaño de la letra (Para jerarquizar información).
  * `text-align`: Alineación horizontal (`left` para textos, `right` para números/monedas, `center` para categorías).
  * `vertical-align`: Alineación vertical del contenido dentro de la celda.
* **Estructura y Espaciado (Box Model):**
  * `padding`: "Aire" o espacio interno entre el borde de la celda y el número/texto. Evita que la tabla luzca asfixiada.
  * `border`: Define el grosor, estilo y color de las líneas divisorias.
  * `border-collapse`: Determina si los bordes de celdas adyacentes se fusionan en una sola línea o se mantienen separados.

> 🔗 **Recurso de Arquitectura Web:** Para consultar la lista completa de propiedades CSS y códigos de color, el estándar de la industria es la [Documentación Oficial de W3Schools](https://www.w3schools.com/css/default.asp).

---

### 🛠️ Caja de Herramientas Senior: Funciones Nativas del Objeto `Styler`

Además de los gradientes (`background_gradient`) y los mini-gráficos (`bar`), Pandas incluye funciones pre-construidas (*built-in*) que nos ahorran el trabajo de escribir algoritmos complejos para el formato condicional.

**Las 4 funciones de inspección visual más poderosas:**
1. **`highlight_null`:** Auditoría de Calidad de Datos (Data Quality). Pinta automáticamente las celdas con valores faltantes (`NaN`).
2. **`highlight_between`:** Control de KPIs. Destaca los valores que caen dentro de un rango específico (Ej. Salarios entre $4,000 y $5,000).
3. **`highlight_quantile`:** Análisis de Distribución. Resalta elementos que pertenecen a un percentil específico (Ej. El 10% de los clientes que más compran).
4. **`text_gradient`:** Funciona igual que el mapa de calor de fondo, pero aplicando el degradado de color directamente a la tipografía.

# Misión 4: Equipo de Logística

Nuevamente el equipo de logística desea replantear su estructura y organización de provisionamiento de productos e, para ello, se pensó en una visualización que permita identificar el estándar de la **cantidad de productos solicitados por mes por departamento**.

In [48]:
#Creamos la copia de ventas, en nuestro nuevo dataframe para hacer el ETL
meses = ventas.copy()
#ordenamos por fecha de pedido
meses = meses.sort_values('fecha_pedido')
meses

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
7171,2016-01-04,Entrega estándar,Ramiro Guzmán,B2C,Rosario,Santa Fe,Litoral,Jardinería y paisajismo,Pesticidas,55.92,2,9.44
651,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,12.04,2,-9.32
650,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Macetas,927.30,3,-110.13
649,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Semillas,40.08,3,7.26
1576,2016-01-06,Entrega estándar,Florencia Chávez,B2C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Buenos Aires,Jardinería y paisajismo,Decoración de jardín,66.42,3,8.31
...,...,...,...,...,...,...,...,...,...,...,...,...
796,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,179.43,3,33.63
795,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Automotriz,Neumáticos,309.19,7,4.69
794,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,1098.68,4,20.60
1151,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,47.28,2,7.68
1152,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,70.44,2,11.00

In [49]:
# Crearemos un nuevo atributo a nuestro dataframe, al usar b minuscula vemos las
# 3 primeras letras del mes.
meses['mes'] = meses['fecha_pedido'].dt.strftime('%Y - %b')
#reseteamos los indices, usando el parametro drop=true
meses = meses.reset_index(drop=True)
meses

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia,mes
0,2016-01-04,Entrega estándar,Ramiro Guzmán,B2C,Rosario,Santa Fe,Litoral,Jardinería y paisajismo,Pesticidas,55.92,2,9.44,2016 - Jan
1,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,12.04,2,-9.32,2016 - Jan
2,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Macetas,927.30,3,-110.13,2016 - Jan
3,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Semillas,40.08,3,7.26,2016 - Jan
4,2016-01-06,Entrega estándar,Florencia Chávez,B2C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Buenos Aires,Jardinería y paisajismo,Decoración de jardín,66.42,3,8.31,2016 - Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8935,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,179.43,3,33.63,2019 - Dec
8936,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Automotriz,Neumáticos,309.19,7,4.69,2019 - Dec
8937,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,1098.68,4,20.60,2019 - Dec
8938,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,47.28,2,7.68,2019 - Dec
8939,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,70.44,2,11.00,2019 - Dec

In [50]:
# Crearemos nuestra tabla dinamica usando sobre nuestro dataframe anterior, el
# metodo pivot_table. Usamos la funcion de agregacion suma , y no queremos que
# ordene los valores por lo que ponemos sort=false.
ventas_mensuales = meses.pivot_table(index=meses.departamento, columns='mes', values='cantidad', aggfunc='sum', sort=False)

#Esta opcion es un parametro de pandas, para evitar que "esconda columnas" , asi vemos todas las columnas
pd.set_option('display.max_columns',None)
# ahora vemos todos los datos
display(ventas_mensuales)

mes,2016 - Jan,2016 - Feb,2016 - Mar,2016 - Apr,2016 - May,2016 - Jun,2016 - Jul,2016 - Aug,2016 - Sep,2016 - Oct,2016 - Nov,2016 - Dec,2017 - Jan,2017 - Feb,2017 - Mar,2017 - Apr,2017 - May,2017 - Jun,2017 - Jul,2017 - Aug,2017 - Sep,2017 - Oct,2017 - Nov,2017 - Dec,2018 - Jan,2018 - Feb,2018 - Mar,2018 - Apr,2018 - May,2018 - Jun,2018 - Jul,2018 - Aug,2018 - Sep,2018 - Oct,2018 - Nov,2018 - Dec,2019 - Jan,2019 - Feb,2019 - Mar,2019 - Apr,2019 - May,2019 - Jun,2019 - Jul,2019 - Aug,2019 - Sep,2019 - Oct,2019 - Nov,2019 - Dec
departamento,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Jardinería y paisajismo,161,87,277,323,270,273,348,339,549,276,716,525,97,131,278,271,269,321,268,322,663,260,746,628,190,177,260,338,463,473,413,380,757,402,727,770,361,205,458,415,542,490,423,561,929,617,946,989
Automotriz,45,20,46,107,81,83,91,95,154,85,236,154,55,44,74,111,94,59,88,117,180,100,179,235,59,49,112,72,124,118,117,123,181,103,253,189,109,63,167,87,150,170,168,136,280,205,331,252
Materiales de construcción,60,23,102,69,91,114,104,101,182,94,213,269,93,38,100,85,76,120,128,106,194,129,259,258,91,67,127,128,171,117,132,113,227,171,308,294,83,67,107,131,172,151,162,132,282,213,312,395

In [51]:
#Crearemos nuestro styler
estilo_mensual = ventas_mensuales.style
estilo_mensual

In [52]:
# usamos el set_sticky(dejar fijo) nuestro index pero notamos que se superpone
# al dezplazarnos.
estilo_mensual.set_sticky(axis='index')

In [53]:
#Usando Css formatearemos las columnas, datos e indice
columnas = {
            'selector':'.col_heading',
            'props':'font-weight:normal; font-family:Arial'
}
tabla = {
            'selector':'td,th',
            'props':'text-align:left'
}
#para el indice usamos etiqueta .index_name
indices = {
            'selector':'.index_name',
            'props':'font-weight:bold; font-family:Arial; text-align:right'
}
#Recordando que el overwrite=False hace que no perder la fijacion del indice.
estilo_mensual.set_table_styles([columnas,tabla,indices], overwrite=False)

### 📅 Misión 4: Análisis de Estacionalidad Logística (Pivot Tables & Sticky CSS)

**Contexto del Negocio:**
El equipo logístico necesita prever picos de demanda. Transformaremos el historial transaccional en una matriz temporal (Tabla Dinámica) donde las filas son Departamentos y las columnas son Meses.

**Arquitectura del Código (Clean Code & CSS):**
1. **Ordenamiento Cronológico Base:** Al ordenar por `fecha_pedido` antes de extraer el string del mes (`%Y-%b`), garantizamos que al usar `sort=False` en el `pivot_table`, las columnas queden perfectamente ordenadas de enero de 2016 a diciembre de 2019.
2. **Corrección del *Scroll Overlap*:** El solapamiento al usar `.set_sticky()` ocurre por la transparencia HTML. Lo solucionamos inyectando la propiedad `background-color` (color sólido) y `z-index: 1` a los selectores `th.row_heading` y `.index_name`, asegurando que el índice flote opacamente sobre los datos.

In [55]:
import pandas as pd

# ==============================================================================
# 1. PIPELINE DE TRANSFORMACIÓN (Tabla Dinámica Temporal)
# ==============================================================================
print("📦 Procesando Matriz de Estacionalidad Logística...")

# Habilitamos la vista amplia de Pandas para permitir el scroll
pd.set_option('display.max_columns', None)

df_estacionalidad = (
    df_ventas
    .sort_values('fecha_pedido')                                           # 1. Garantizamos el orden cronológico estricto
    .assign(Mes_Format=lambda x: x['fecha_pedido'].dt.strftime('%Y-%b'))   # 2. Extraemos Año-Mes (Ej: 2016-Jan)
    .pivot_table(
        index='departamento',                                              # Filas
        columns='Mes_Format',                                              # Columnas
        values='cantidad',                                                 # Datos a calcular
        aggfunc='sum',                                                     # Operación matemática
        sort=False                                                         # Evita que ordene alfabéticamente (rompería la cronología)
    )
    .rename_axis('Departamento', axis='index')                             # Limpieza de nombres
    .rename_axis('Periodo', axis='columns')
)

# ==============================================================================
# 2. UI/UX Y SOLUCIÓN DEL OVERLAP (Capa de Presentación)
# ==============================================================================
# CSS avanzado para solucionar el solapamiento de la columna congelada (Sticky)
estilos_matriz = [
    # Diseño de la esquina superior izquierda (Nombre del índice)
    {'selector': '.index_name', 'props': [('background-color', '#343a40'), ('color', 'white'), ('font-weight', 'bold'), ('z-index', '2')]},

    # Diseño de la columna congelada (Departamentos). Le damos fondo sólido claro para tapar los datos que pasan por debajo
    {'selector': 'th.row_heading', 'props': [('background-color', '#f8f9fa'), ('color', '#212529'), ('font-weight', 'bold'), ('z-index', '1')]},

    # Diseño de los meses (Encabezados de columna)
    {'selector': 'th.col_heading', 'props': [('text-align', 'center'), ('font-size', '0.9em')]},

    # Diseño del cuerpo numérico
    {'selector': 'td', 'props': [('text-align', 'center'), ('padding', '5px 15px')]}
]

reporte_logistica_estacional = (
    df_estacionalidad.style
    .format("{:,.0f}")                          # Formato de números enteros con separador de miles
    .set_sticky(axis='index')                   # Congelamos la primera columna para scroll horizontal
    .set_table_styles(estilos_matriz,overwrite=False)           # Inyectamos nuestra solución CSS
)

# Renderizado final
display(reporte_logistica_estacional)

📦 Procesando Matriz de Estacionalidad Logística...

### 📚 Teoría de Transformación de Datos: `pivot` vs `pivot_table`



En la manipulación de datos matriciales, a menudo necesitamos "girar" nuestro DataFrame para ver la información desde otra perspectiva. Pandas nos ofrece dos métodos que suenan igual pero tienen un comportamiento algorítmico completamente distinto.

**1. El Método Estructural (`pivot`):**
* **Función:** Simplemente reorganiza la forma de la tabla (Pasa de formato "Largo/Tidy" a "Ancho/Wide").
* **Limitación Crítica:** **NO hace cálculos matemáticos**. Si en tus datos originales hay dos filas que coinciden en el mismo Índice y Columna, el método `pivot` colapsará y arrojará un error (`ValueError: Index contains duplicate entries, cannot reshape`), porque no sabe qué valor poner en la nueva celda.

**2. El Método Analítico (`pivot_table`):**
* **Función:** Genera resúmenes estadísticos. Es el equivalente exacto a las "Tablas Dinámicas" de Excel.
* **Ventaja:** **SÍ hace cálculos matemáticos** a través del parámetro `aggfunc` (Suma, Media, Conteo, etc.). Si encuentra registros duplicados para una misma intersección, los suma (o promedia) y entrega un único valor limpio.

---

### 💻 Ejemplo Práctico de Diferenciación

Supongamos el siguiente caso de ventas mensuales por región:

In [60]:

import pandas as pd

df = pd.DataFrame({
    'Región': ['Norte', 'Norte', 'Norte', 'Norte', 'Sur', 'Sur', 'Sur', 'Sur'],
    'Producto': ['Producto A', 'Producto B', 'Producto A', 'Producto B', 'Producto A', 'Producto B', 'Producto A', 'Producto B'],
    'Ventas': [100, 50, 150, 200, 70, 120, 110, 80],
    'Fecha': ['01/2022', '01/2022', '02/2022', '02/2022', '01/2022', '01/2022', '02/2022', '02/2022']
})

Si queremos el promedio de ventas agrupado por Región y Producto:
Usamos pivot_table porque necesitamos una agregación matemática (mean). Las fechas desaparecen porque se promedian en un solo valor.

In [61]:
# Resultado: Promedio de ventas sumando Enero y Febrero
display(df.pivot_table(values='Ventas', index='Región', columns='Producto', aggfunc='mean'))

Producto  Producto A  Producto B
Región
Norte          125.0       125.0
Sur             90.0       100.0

Si queremos ver la evolución temporal de cada producto por región:
Usamos pivot porque solo queremos reorganizar la tabla para que las fechas sean las columnas, sin alterar los montos originales de ventas.

In [62]:
# Resultado: Las ventas exactas separadas por las columnas '01/2022' y '02/2022'
df.pivot(index=['Región', 'Producto'], columns='Fecha', values='Ventas')

Fecha              01/2022  02/2022
Región Producto
Norte  Producto A      100      150
       Producto B       50      200
Sur    Producto A       70      110
       Producto B      120       80

# Misión 5: Informe de Desempeño

El informe de desempeño es un documento muy importante para la empresa. En este, todos los que trabajan en la tienda pueden entender cómo está la empresa. Debido a ello, las tablas bien construídas son esenciales para mostrar los datos de la mejor forma.

Por lo tanto, necesitamos construir una visualización que permita entender la **relación entre tipos de clientes y modo de envío de productos de acuerdo con las ventas**. De esta forma, será posible destacar en el informe cuál es el modo de envío y cuáles son los que más generaron lucro en las ventas.

In [63]:
#creamos nuestro nuevo dataframe.crearemos una pivot_table
df_cliente = ventas.pivot_table(index='segmento_cliente',columns='modo_envio',values='ventas',aggfunc='sum')
df_cliente

modo_envio,Económica,Entrega en 24 horas,Entrega estándar,Envío rápido
segmento_cliente,,,,
B2B,718461.22,217465.60,1884738.56,602049.40
B2C,729174.73,182531.47,2248283.69,498294.88

In [64]:
#crearemos las columnas que nos falta con el total
# el total es la suma de las fila , nos da el total por segmento de cliente
df_cliente['Total'] = df_cliente.sum(axis=1)
# Tambien creamos los totales por columnam es decir por modo de envio
df_cliente.loc['Total'] = df_cliente.sum()
df_cliente

modo_envio,Económica,Entrega en 24 horas,Entrega estándar,Envío rápido,Total
segmento_cliente,,,,,
B2B,718461.22,217465.60,1884738.56,602049.40,3422714.78
B2C,729174.73,182531.47,2248283.69,498294.88,3658284.77
Total,1447635.95,399997.07,4133022.25,1100344.28,7080999.55

In [65]:
#Creamos nuestro styler con formato a toda la tabla, con separador de miles: ","
compra_cliente = df_cliente.style.format('{:,.2f}')
compra_cliente

In [66]:
# Mejoraremos usando CSS
tabla={
    #lo que apliquemos aqui sera aplicado a los headers, a la tabla pero no a los indices.
    'selector':'td,th:not(.index_name)',
    'props':'font-weight:normal; font-family:Arial; text-align:center: background-color:white'
}
#ahora si aplicamos al indice
indice={
    'selector':'.index_name',
    'props':'font-weight:normal; font-style:italic; text-align:right: color:#696969'
}

compra_cliente.set_table_styles([tabla,indice])

In [67]:
# A continuacion estilizaremos las "filas" Total y B2B , haremos lineas para
# separar el encabezado de los datos, y por encima del total.
compra_cliente.set_table_styles({
    'Total':[
        {
            'selector':'th',
            #creamos el borde superior
            'props':'border-top: 2px solid #181818'
        },
        {
            'selector':'td',
            'props':'border-top: 2px solid #181818'
        }
    ],
    'B2B':[
        {
            'selector':'th',
            'props':'border-top: 2px solid #181818'
        },
        {
            'selector':'td',
            'props':'border-top: 2px solid #181818'
        }
    ]
    #El eje de las columnas
}, overwrite=False, axis=1)

In [ ]:
# a continuacion el dataframe que luego crearemos
# colores_columna = pd.DataFrame(['false','true','false'], index=df_cliente['Total'].index, columns=['Total'])
# colores_columna

                  Total
segmento_cliente
B2B               false
B2C                true
Total             false

In [68]:
# Crearemos nuestro selector personalizado para resaltar ciertos valores
compra_cliente.set_table_styles({
    'Total':[{
        'selector':'.true',
        'props':'background-color: #D8D8D8'
    }]
},overwrite=False,axis=0)

# creamos un dataframe con los valores boobleanos , usamos el indice del
# df_clliente['Total'] y en las columnas el total.
colores_columna = pd.DataFrame(['false','true','false'], index=df_cliente['Total'].index, columns=['Total'])

compra_cliente.set_td_classes(colores_columna)

### 📈 Misión 5: Informe Ejecutivo de Desempeño (Cross-Tabulation)

**Contexto del Negocio:**
La Junta Directiva necesita una matriz de doble entrada (Cross-tab) que cruce el Canal de Ventas (B2B/B2C) con el Método de Envío, incluyendo Subtotales por categoría y un Gran Total General. Adicionalmente, se requiere destacar el canal/método que generó el mayor volumen de ingresos.

**Arquitectura del Código (Nivel Ejecutivo):**
1. **Cálculo Automático de Márgenes:** En lugar de hacer `.sum()` manual por filas y columnas, utilizamos `pd.crosstab(margins=True)`. Esto genera la matriz completa con sus totales en una sola transacción eficiente.
2. **CSS Condicional Dinámico (`apply`):** En lugar de crear un DataFrame booleano manual para inyectar clases (`set_td_classes`), usamos el método `.apply()` nativo del `Styler`. Creamos una función lógica que encuentra matemáticamente el valor máximo en la fila "B2C" (nuestro segmento estrella) y lo resalta automáticamente, sin importar cómo cambien los datos en el futuro.

In [75]:
import pandas as pd
import numpy as np

# ==============================================================================
# 1. MATRIZ EJECUTIVA (Cross-Tabulation)
# ==============================================================================
print("🏢 Procesando Matriz Ejecutiva de Desempeño (Dinamismo Absoluto)...")

df_ejecutivo = pd.crosstab(
    index=df_ventas['segmento_cliente'],
    columns=df_ventas['modo_envio'],
    values=df_ventas['ventas'],
    aggfunc='sum',
    margins=True,
    margins_name='TOTAL'
).rename_axis(index=None, columns=None)

# ==============================================================================
# 2. ARQUITECTURA VISUAL (Estilo Bloque Oscuro)
# ==============================================================================
estilos_oscuros = [
    {'selector': 'td', 'props': [('font-family', 'Arial, sans-serif'), ('text-align', 'center'), ('padding', '10px')]},
    {'selector': 'th', 'props': [
        ('font-family', 'Arial, sans-serif'),
        ('font-weight', 'bold'),
        ('background-color', '#343a40'),
        ('color', '#ffffff'),
        ('text-align', 'center'),
        ('padding', '10px'),
        ('border', '1px solid #495057')
    ]},
    {'selector': 'tr:last-child', 'props': [('border-top', '3px solid #343a40'), ('font-weight', 'bold')]}
]

# ==============================================================================
# 3. LÓGICA DINÁMICA NATIVA (Sin Hardcoding)
# ==============================================================================
# Aislamos matemáticamente el "Core" de datos (Eliminamos la fila y columna 'TOTAL')
filas_core = df_ejecutivo.index.drop('TOTAL')
cols_core = df_ejecutivo.columns.drop('TOTAL')

# Definimos el estilo del ganador
CSS_GANADOR = 'background-color: #B86F5F; color: white; font-weight: bold; border-radius: 4px; box-shadow: inset 0 0 5px rgba(0,0,0,0.2);'

# ==============================================================================
# 4. RENDERIZADO DEL INFORME FINAL
# ==============================================================================
reporte_ejecutivo_final = (
    df_ejecutivo.style
    .format('${:,.0f}')
    .set_table_styles(estilos_oscuros)

    # 🚨 CLAVE: Buscamos el Máximo Global (axis=None) solo en la porción de datos reales
    .highlight_max(
        subset=(filas_core, cols_core),
        axis=None,
        props=CSS_GANADOR
    )
)

display(reporte_ejecutivo_final)

🏢 Procesando Matriz Ejecutiva de Desempeño (Dinamismo Absoluto)...

### 📐 Arquitectura de la Información: Tablas Formales y Científicas

**Contexto del Negocio y Auditoría:**
Mientras que los cuadros de mando interactivos (Dashboards) priorizan la agilidad visual, las **Tablas Formales** (o Académicas/Científicas) priorizan el rigor, la precisión y la auto-explicación. Son el estándar requerido para reportes financieros oficiales, auditorías externas y publicaciones rigurosas.



**Principios de Diseño Riguroso:**
Para que una tabla sea considerada "formal", debe sostenerse por sí misma (sin necesidad de leer el texto que la rodea) y minimizar las distracciones visuales:

1. **Alta Proporción Datos-Tinta (Simplicidad Visual):** Se minimiza el uso de tinta en elementos no ligados a los datos. Evitamos colores de fondo saturados y eliminamos por completo los bordes verticales. Solo se utilizan bordes horizontales sutiles para enmarcar los encabezados y los totales generales.
2. **Autonomía Semántica (Títulos y Unidades):** * **Título Descriptivo:** Debe responder *Qué, Dónde y Cuándo* (Ej. no uses "Ventas", usa "Ingresos Netos por Canal de Venta - Q4 2025").
   * **Unidades de Medida:** Las métricas deben especificar su unidad (`[USD]`, `[%]`, `[Unidades]`) en el encabezado o en una leyenda anexa para no ensuciar los números de cada celda.
3. **Integridad del Dato (Cero Celdas Vacías):** En auditoría y ciencia, un espacio en blanco genera ambigüedad grave (¿Es un cero? ¿Se perdió el dato durante el ETL? ¿No aplica?). Todo valor nulo debe ser formateado explícitamente usando `NaN`, `N/A`, `S/D` o un guion `-`.
4. **Paginación y Fragmentación:** Las sábanas de datos infinitas destruyen la legibilidad. Si un reporte es muy extenso, la mejor práctica es modularlo en tablas más pequeñas categorizadas por dimensiones lógicas.

> 📚 **Referencia Obligada de la Industria:** > Para profundizar en el diseño de interfaces de datos legibles, el estándar de oro es el libro [Show Me the Numbers: Designing Tables and Graphs to Enlighten](https://www.amazon.com/Show-Me-Numbers-Designing-Enlighten/dp/0970601972) de Stephen Few.

### 🔬 Ejemplo Práctico: Renderizado de una Tabla Formal (Estilo Científico/APA)

**Arquitectura Visual:**
Para lograr el estándar académico y de auditoría, utilizamos las siguientes técnicas en el objeto `Styler`:
1. **`.hide(axis='index')`:** Ocultamos el índice numérico automático de Pandas, ya que no aporta valor semántico.
2. **`.set_caption()`:** Añadimos el título auto-explicativo que exige la norma formal.
3. **`na_rep='S/D'`:** Forzamos a que cualquier valor nulo (`NaN`) se renderice como "S/D" (Sin Datos), garantizando la integridad de lectura.
4. **CSS Minimalista:** Eliminamos todas las líneas verticales y solo dejamos un borde superior grueso, un borde sutil bajo los encabezados, y un borde de cierre al final de la tabla.

In [76]:
import pandas as pd
import numpy as np

# ==============================================================================
# 1. DATOS DE MUESTRA (Con un valor nulo intencional para auditoría)
# ==============================================================================
datos_pyme = {
    'Región Estratégica': ['Buenos Aires', 'Centro', 'Litoral', 'Patagonia'],
    'Ingresos [USD]': [45000.50, 32000.00, np.nan, 28500.75],
    'Variación Anual [%]': [5.2, -1.5, 3.4, 8.1]
}
df_formal = pd.DataFrame(datos_pyme)

# ==============================================================================
# 2. DEFINICIÓN DEL ESTILO ACADÉMICO / FORMAL (Tinta Mínima)
# ==============================================================================
estilos_cientificos = [
    # General: Fondo blanco y texto negro
    {'selector': 'table, th, td', 'props': [('background-color', 'white'), ('color', 'black'), ('font-family', 'Times New Roman, serif')]},

    # Eliminamos todos los bordes por defecto y centramos el contenido
    {'selector': 'th, td', 'props': [('border', 'none'), ('padding', '8px 15px'), ('text-align', 'center')]},

    # Alineamos a la izquierda la primera columna (Textos/Categorías)
    {'selector': 'td:first-child, th:first-child', 'props': [('text-align', 'left')]},

    # Bordes horizontales para enmarcar el encabezado
    {'selector': 'thead th', 'props': [('border-top', '2px solid black'), ('border-bottom', '1px solid black'), ('font-weight', 'bold')]},

    # Borde inferior para cerrar la tabla
    {'selector': 'tbody tr:last-child td', 'props': [('border-bottom', '2px solid black')]},

    # Estilo del Título (Caption)
    {'selector': 'caption', 'props': [('caption-side', 'top'), ('text-align', 'left'), ('font-weight', 'bold'), ('color', 'black'), ('padding-bottom', '10px')]}
]

# ==============================================================================
# 3. CAPA DE PRESENTACIÓN (Styler)
# ==============================================================================
reporte_formal = (
    df_formal.style
    .hide(axis='index') # Escondemos el índice (0, 1, 2, 3) por estética formal
    .set_caption("Tabla 1. Rendimiento Financiero Regional y Variación Interanual (Q4 2025)")
    .format({
        'Ingresos [USD]': '{:,.2f}',
        'Variación Anual [%]': '{:.1f}'
    }, na_rep="S/D") # Manejo explícito de nulos (Sin Datos)
    .set_table_styles(estilos_cientificos)
)

# Renderizado
display(reporte_formal)

# 🚀 Cheat Sheet: Estilización Tabular y UI/UX con Pandas

**Enfoque:** Construcción de interfaces de datos limpias, reportes gerenciales (Clean Code) y exportación de información estructurada.

---

## 1. El Core: El Objeto `Styler` y Formateo Básico
Todo reporte visual comienza transformando el DataFrame matemático en un objeto HTML/CSS mediante `.style`.

```python
# Encadenamiento de métodos (Method Chaining) para capa de presentación
reporte = (
    df.style
    .format({
        'Ingresos': '${:,.2f}',  # Moneda con separador de miles y 2 decimales
        'Margen': '{:.1f}%',     # Porcentaje con 1 decimal
        'ID_Cliente': '{:05d}'   # Entero rellenado con ceros a la izquierda (Ej. 00045)
    }, na_rep='S/D')             # Manejo de Nulos: 'Sin Datos' en lugar de 'NaN'
    .hide(axis='index')          # Oculta el índice numérico (0,1,2...) para mayor limpieza
)
```
---
## 2. Herramientas de Inspección Visual (Built-in)
Funciones nativas de Pandas para aplicar formato condicional sin escribir algoritmos complejos.


```python
# Mapa de calor para ver densidad de datos
.background_gradient(cmap='Greens', subset=['Ingresos'])

# Data-Bars (Gráficos de barra in-cell) para porcentajes o progreso
.bar(subset=['Cumplimiento_KPI'], color='#0d6efd', vmin=0, vmax=100)

# Alertas Automáticas (Valores extremos y faltantes)
.highlight_max(subset=['Ganancia'], color='#d4edda') # Verde pastel
.highlight_min(subset=['Ganancia'], color='#f8d7da') # Rojo pastel
.highlight_null(color='#ffc107')                     # Amarillo advertencia
```
---
## 3. Inyección CSS Dinámica (Diseño Corporativo)
Uso de ```.set_table_styles()``` para modificar la estructura HTML (```th```, ```td```, ```tr```).


```python
estilos_corporativos = [
    # Encabezados: Fondo oscuro, letra blanca, texto centrado
    {'selector': 'th', 'props': [
        ('background-color', '#343a40'),
        ('color', 'white'),
        ('text-align', 'center')
    ]},
    # Celdas: Padding para respiración visual (Box Model)
    {'selector': 'td', 'props': [('padding', '8px 15px')]},
    # Filas: Separador sutil
    {'selector': 'tr', 'props': [('border-bottom', '1px solid #dee2e6')]}
]

# Aplicación segura (overwrite=False evita pisar estilos nativos como set_sticky)
.set_table_styles(estilos_corporativos, overwrite=False)
```
---
## 4. Estructuras de Datos Gerenciales (ETL Pre-Visualización)
No se puede estilizar lo que no está bien estructurado. Reglas para pivotar datos:

* ```pivot_table```: Agrupa y **calcula** matemáticas (Ej. Suma de ventas por mes y departamento). Equivalente a Tablas Dinámicas de Excel.

* ```crosstab```: Ideal para frecuencias o cruces de variables categóricas. Su superpoder es ```margins=True``` (calcula subtotales y Gran Total automáticamente).

* ```pivot```: Solo cambia la forma de la tabla (reshape). **Rompe** si hay datos duplicados en el cruce porque no sabe cómo sumarlos.

---
## 5. Exportación Multi-Plataforma
El objeto ```Styler``` renderiza directamente a los formatos ofimáticos más usados.


```python
reporte_estilizado = df.style.format(...)

# 1. Para la Intranet / Dashboards Web / Emails
reporte_estilizado.to_html('reporte_ventas.html')

# 2. Para el área de Finanzas / Contabilidad (Requiere openpyxl)
reporte_estilizado.to_excel('reporte_ventas.xlsx', engine='openpyxl')

# 3. Para documentación técnica o Papers Académicos
with open('reporte_ventas.tex', 'w') as f:
    f.write(reporte_estilizado.to_latex())
```
---
## 🧠 Buenas Prácticas (Reglas Senior)
1. **Separación de Capas:** Nunca mezcles cálculos matemáticos (.groupby, .sum()) con inyección visual (.style). Calcula primero, estiliza al final.

2. **Especificidad CSS:** El último método aplicado en el Styler sobrescribe al anterior. Aplica primero los mapas de calor (background_gradient) y luego los resaltados específicos (highlight_max).

3. **Accesibilidad (Modo Oscuro):** Nunca cambies el background-color de una celda sin forzar explícitamente el color (tipografía) para garantizar el contraste en cualquier pantalla.

4. **Cero Hardcoding:** Usa axis=None o funciones dinámicas en lugar de escribir nombres literales de celdas para evitar que el código se rompa cuando los datos cambien.