<a href="https://colab.research.google.com/github/MiyoBran/Alura-ONE-G9/blob/main/formacion-Aprendiendo-a-hacer-ETL-G9-ONE/02-pandas-e-s-diferentes-formatos-archivo/ETL_02_Pandas_I_O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Aula 1 - Leyendo archivos CSV**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##**Importando archivos CSV**

In [2]:
import pandas as pd

In [3]:
#datos = pd.read_csv('superstore_data.csv')
datos = pd.read_csv('/content/drive/MyDrive/Pandas/superstore_data.csv')

In [4]:
datos.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [5]:
# datos_punto_coma = pd.read_csv('superstore_data_punto_coma.csv')
datos_punto_coma = pd.read_csv('/content/drive/MyDrive/Pandas/superstore_data_punto_coma.csv')

In [6]:
#En este caso el separador no es el que se usa por defecto , sino ";"
datos_punto_coma.head()

  Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0  1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1  1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2  10476;1958;Graduation;Married;67267;0;1;5/13/2...
3  1386;1967;Graduation;Together;32474;1;1;11/5/2...
4  5371;1989;Graduation;Single;21474;1;0;8/4/2014...

###**Parámetros de la función read_csv**
Documentación: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [7]:
datos_punto_coma = pd.read_csv('/content/drive/MyDrive/Pandas/superstore_data_punto_coma.csv', sep = ';')

In [8]:
datos_punto_coma

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,66476.0,0,1,7/3/2013,99,372,...,47,48,78,2,5,2,11,4,0,0
2236,5263,1977,2n Cycle,Married,31056.0,1,0,1/22/2013,99,5,...,3,8,16,1,1,0,3,8,0,0
2237,22,1976,Graduation,Divorced,46310.0,1,0,3/12/2012,99,185,...,15,5,14,2,6,1,5,8,0,0
2238,528,1978,Graduation,Married,65819.0,0,0,11/29/2012,99,267,...,149,165,63,1,5,4,10,3,0,0
2239,4070,1969,PhD,Married,94871.0,0,2,1/9/2012,99,169,...,188,0,144,1,8,5,4,7,1,0

In [9]:
datos_primeras_lineas = pd.read_csv('/content/drive/MyDrive/Pandas/superstore_data.csv',nrows=5)
datos_primeras_lineas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [10]:
datos_seleccion = pd.read_csv('/content/drive/MyDrive/Pandas/superstore_data.csv', usecols=['Id', 'Year_Birth', 'Income'])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [11]:
datos_seleccion = pd.read_csv('/content/drive/MyDrive/Pandas/superstore_data.csv', usecols=[0,1,4])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

### ⚙️ Optimización de Ingesta: Filtrado en la Lectura (`nrows` y `usecols`)

**Concepto de Negocio:**
Al importar grandes volúmenes de datos (ej. histórico de transacciones o padrón de clientes), cargar el archivo completo en memoria es ineficiente y riesgoso. Para análisis específicos (como la segmentación de los mejores clientes), solo necesitamos una fracción de la información.

**Estrategia de Solución:**
1. **`nrows` (Muestreo Rápido):** Permite leer solo las primeras $N$ filas. Es ideal para inspeccionar la estructura de un archivo masivo sin saturar la RAM.
2. **`usecols` (Selección de Atributos):** Permite indicar exactamente qué columnas cargar en memoria.
   * *Mejor Práctica (Clean Code):* Definir siempre las columnas por su **nombre exacto** mediante una lista, nunca por su índice numérico, para evitar la corrupción de datos si la estructura del archivo origen cambia en el futuro.


💡 Tip de Senior (Clean Code)
Cuando te enfrentes a un archivo CSV nuevo o a una tabla de base de datos que no creaste tú, nunca confíes ciegamente en la documentación o en lo que crees que dice. Antes de filtrar, siempre es buena práctica pedirle a Pandas que te liste los nombres exactos de las columnas con este comando corto:

```
print(df_muestra_clientes.columns.tolist())
```

In [12]:
import pandas as pd

# 1. Constantes y Rutas
RUTA_ARCHIVO = '/content/drive/MyDrive/Pandas/superstore_data.csv'

# -------------------------------------------------------------------
# EJEMPLO A: Muestreo rápido de estructura (nrows)
# -------------------------------------------------------------------
CANTIDAD_FILAS_MUESTRA = 5

df_muestra_clientes = pd.read_csv(RUTA_ARCHIVO, nrows=CANTIDAD_FILAS_MUESTRA)
print("--- Muestra Rápida (Primeras 5 filas) ---")
display(df_muestra_clientes) # En Colab, display() renderiza mejor que print()


# -------------------------------------------------------------------
# EJEMPLO B: Ingesta optimizada para Análisis de Rendimiento (usecols)
# -------------------------------------------------------------------
# Definimos claramente el "contrato" de las columnas que nuestro algoritmo necesita
print(df_muestra_clientes.columns.tolist())

COLUMNAS_ANALISIS_CLIENTES = ['Id', 'Year_Birth', 'Income']

# Cargamos solo los atributos necesarios para la lógica de negocio
df_clientes_rfm = pd.read_csv(RUTA_ARCHIVO, usecols=COLUMNAS_ANALISIS_CLIENTES)

print("\n--- Datos Listos para Análisis (Filtrado por Columnas) ---")
display(df_clientes_rfm.head())

--- Muestra Rápida (Primeras 5 filas) ---

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

['Id', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'Response', 'Complain']

--- Datos Listos para Análisis (Filtrado por Columnas) ---

      Id  Year_Birth   Income
0   1826        1970  84835.0
1      1        1961  57091.0
2  10476        1958  67267.0
3   1386        1967  32474.0
4   5371        1989  21474.0

### 🛠️ Resolución de Errores de Ingesta: Codificación (Encoding)

**Concepto de Negocio:**
Al importar datos externos (ej. listados de ventas de sucursales o proveedores), es común que los archivos no vengan en el estándar actual (`UTF-8`), sino en formatos heredados de sistemas más antiguos (como `UTF-16` o `ISO-8859-1`). Si intentamos leerlos directamente, Pandas lanzará un `UnicodeDecodeError` al no saber cómo interpretar caracteres especiales.

**Estrategia de Solución:**
1. Utilizar la librería `chardet` para auditar el archivo.
2. Leer únicamente una **muestra** del archivo en formato binario para detectar el "alfabeto" (encoding) sin saturar la memoria RAM del servidor.
3. Inyectar el encoding detectado como parámetro en la función de lectura.

In [11]:
import pandas as pd
import chardet

# 1. Definición de Constantes (Buenas prácticas para evitar "Hardcoding")
RUTA_ARCHIVO_VENTAS = '/content/drive/MyDrive/Pandas/superstore_data.csv'
TAMANO_MUESTRA_BYTES = 10000 # Solo leemos los primeros 10KB para no saturar la RAM

# 2. Detección dinámica del Encoding
with open(RUTA_ARCHIVO_VENTAS, 'rb') as archivo_crudo:
    # Leemos solo una porción representativa del archivo
    muestra_datos = archivo_crudo.read(TAMANO_MUESTRA_BYTES)
    resultado_auditoria = chardet.detect(muestra_datos)

# Extraemos los valores del diccionario resultante
encoding_detectado = resultado_auditoria['encoding']
nivel_confianza = resultado_auditoria['confidence']

print(f"🔍 Auditoría completada: Encoding '{encoding_detectado}' detectado con una confianza del {nivel_confianza:.2%}")

# 3. Ingesta de Datos con el parámetro dinámico
# Nota: En producción, podríamos agregar un 'if nivel_confianza > 0.8:' para mayor seguridad
df_ventas = pd.read_csv(RUTA_ARCHIVO_VENTAS, encoding=encoding_detectado)

# 4. Inspección de calidad
df_ventas.head()

🔍 Auditoría completada: Encoding 'ascii' detectado con una confianza del 100.00%

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

Para profundizar:
Si deseas profundizar más en el tema, aquí te dejamos algunos enlaces a materiales que fueron utilizados como referencia:

- [Instituto de Matemáticas y Estadística - IME/USP: Unicode y UTF-8](https://www.ime.usp.br/~pf/algoritmos/apend/unicode.html)
- [IBM: ¿Qué es Unicode?](https://www.ibm.com/docs/pt-br/workload-automation/9.3.0?topic=support-what-is)
- [Kaggle: codificaciones de caracteres](https://www.kaggle.com/code/alexisbcook/character-encodings/tutorial)

### 🛡️ Ingesta Robusta: Normalización de Cabeceras (Clean Code)

**Concepto de Negocio:**
En los sistemas de gestión reales, los archivos externos suelen venir con inconsistencias tipográficas (ej. `Id`, `ID`, `  id `). Utilizar índices numéricos (`[0, 1, 4]`) para saltar este problema es peligroso, ya que si el proveedor cambia el orden de las columnas, el sistema ingerirá datos incorrectos silenciosamente.

**Estrategia de Solución:**
En lugar de adaptar nuestro código a los datos sucios, obligamos a los datos entrantes a pasar por un filtro de estandarización.
1. Definimos nuestro "Contrato de Datos" (las columnas que necesitamos) estrictamente en minúsculas.
2. Le pasamos una **función evaluadora** al parámetro `usecols` en lugar de una lista estática.
3. Pandas pasará el nombre de cada columna del CSV por nuestra función (que limpiará espacios y mayúsculas) y solo cargará la columna si el resultado coincide con nuestro contrato.

In [15]:
import pandas as pd

# 1. Rutas
RUTA_ARCHIVO = '/content/drive/MyDrive/Pandas/superstore_data.csv'

# 2. Nuestro "Contrato Ideal" (Estandarizado en minúsculas)
COLUMNAS_ANALISIS_CLIENTES = ['id', 'year_birth', 'income']

# 3. Función Evaluadora / Normalizadora
def validar_columna(nombre_columna_original):
    """
    Toma el nombre de la columna del CSV, elimina espacios en los bordes
    y la convierte a minúsculas. Retorna True si coincide con nuestro contrato.
    """
    nombre_limpio = str(nombre_columna_original).strip().lower()
    return nombre_limpio in COLUMNAS_ANALISIS_CLIENTES

# 4. Lectura Robusta (Inyección de dependencia en usecols)
# Al pasar la función (sin paréntesis), Pandas la ejecuta internamente por cada columna.
df_clientes_rfm = pd.read_csv(RUTA_ARCHIVO, usecols=validar_columna)

print("\n--- Datos Listos para Análisis (Resistente a errores tipográficos) ---")
display(df_clientes_rfm.head())

--- Datos Listos para Análisis (Resistente a errores tipográficos) ---

      Id  Year_Birth   Income
0   1826        1970  84835.0
1      1        1961  57091.0
2  10476        1958  67267.0
3   1386        1967  32474.0
4   5371        1989  21474.0

### 🧠 ¿Cómo funciona el motor de `usecols` con funciones? (Under the Hood)

Cuando le pasamos una función a `usecols` en lugar de una lista, Pandas cambia su comportamiento predeterminado y actúa como un **guardia de seguridad interactivo**:

1. **Lectura de Cabecera:** Pandas lee únicamente la primera fila del CSV (los nombres de las columnas).
2. **Iteración Individual:** Toma el nombre de la primera columna y lo inyecta como argumento en nuestra función `validar_columna`.
3. **El Operador `in`:** La instrucción `return nombre_limpio in COLUMNAS_ANALISIS_CLIENTES` compara el resultado limpio contra *todos* los elementos de nuestra lista.
   * Si la lista tuviera valores repetidos (ej. `['id', 'id', 'income']`), Python simplemente devuelve `True` al encontrar la primera coincidencia. No genera error, pero es una redundancia innecesaria en el código (Clean Code dicta evitarlo).
4. **El Veredicto (`True` o `False`):** Si la función retorna `True`, Pandas anota esa columna en su memoria para descargar todos sus datos. Si retorna `False`, la descarta por completo.
5. **Repetición:** Repite el proceso con la segunda columna, la tercera, etc., hasta terminar la cabecera. Recién ahí, comienza a descargar las filas de las columnas aprobadas.

**⚠️ Casos Límite (Edge Cases) en Producción:**
¿Qué ocurre si el archivo del supermercado viene sucio y trae dos columnas casi idénticas, por ejemplo, `ID` y `Id`?
* Nuestra función limpiadora convertirá ambas a `'id'`.
* Ambas evaluarán como `True` al compararse con nuestra lista.
* **El Resultado de Pandas:** Cargará *ambas* columnas en la memoria. Sin embargo, como las bases de datos relacionales y los DataFrames no permiten nombres de columnas duplicados, Pandas aplicará una regla de auto-corrección silenciosa: renombrará la segunda columna como `id.1`. Esto es un riesgo de negocio, ya que el sistema podría procesar identificadores incorrectos.

##**Escribiendo archivos CSV**

Documentación: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [13]:
datos_seleccion.to_csv('clientes_mercado.csv')

In [14]:
clientes_mercado = pd.read_csv('clientes_mercado.csv')
clientes_mercado

      Unnamed: 0     Id  Year_Birth   Income
0              0   1826        1970  84835.0
1              1      1        1961  57091.0
2              2  10476        1958  67267.0
3              3   1386        1967  32474.0
4              4   5371        1989  21474.0
...          ...    ...         ...      ...
2235        2235  10142        1976  66476.0
2236        2236   5263        1977  31056.0
2237        2237     22        1976  46310.0
2238        2238    528        1978  65819.0
2239        2239   4070        1969  94871.0

[2240 rows x 4 columns]

In [16]:
#PAra evitar el Unnamed , el indice original tambien se incluye como columna
datos_seleccion.to_csv('datos_mercado.csv', index=False)

In [17]:
#Ahora tenemos nuestro archivo recien creado , sin el indice
datos_mercado = pd.read_csv('datos_mercado.csv')
datos_mercado

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

### 💾 Exportación de Datos: Guardando Resultados (`to_csv`)

**Concepto de Negocio:**
Una vez que hemos limpiado y filtrado los datos (ej. seleccionando solo los clientes de alto rendimiento), necesitamos persistir esa información en un nuevo archivo para compartirlo con otras áreas o conectarlo a otro sistema.

**La Trampa del Índice (`Unnamed: 0`):**
Por defecto, Pandas exporta el "número de fila" interno (índice numérico) como si fuera una columna más de datos. Al volver a leer el archivo, esto crea una columna de "basura" llamada `Unnamed: 0`.

**Estrategia de Solución (Clean Code):**
* Utilizar siempre el parámetro `index=False` en la función `to_csv()`, a menos que el índice contenga información vital del negocio (ej. una fecha o un ID que nosotros mismos hayamos asignado como índice).
* Definir la ruta de exportación absoluta hacia nuestro Google Drive para garantizar que el archivo no se borre al cerrar la sesión de Colab.

In [18]:
import pandas as pd

# 1. Definición de Rutas (Garantizando el guardado en tu Drive)
# Usamos un nombre descriptivo para el archivo final
RUTA_EXPORTACION = '/content/drive/MyDrive/Pandas/clientes_alta_rentabilidad.csv'

# 2. Exportación de Datos
# Asumimos que df_clientes_rfm es el DataFrame limpio del paso anterior.
# index=False bloquea la exportación del número de fila interno de Pandas.
df_clientes_rfm.to_csv(RUTA_EXPORTACION, index=False)

print(f"✅ Archivo exportado exitosamente de forma permanente en: {RUTA_EXPORTACION}")

# 3. Auditoría Rápida (Verificamos que se guardó sin la columna 'Unnamed: 0')
df_verificacion = pd.read_csv(RUTA_EXPORTACION)
print("\n--- Vista previa de la base de datos exportada ---")
display(df_verificacion.head())

✅ Archivo exportado exitosamente de forma permanente en: /content/drive/MyDrive/Pandas/clientes_alta_rentabilidad.csv

--- Vista previa de la base de datos exportada ---

      Id  Year_Birth   Income
0   1826        1970  84835.0
1      1        1961  57091.0
2  10476        1958  67267.0
3   1386        1967  32474.0
4   5371        1989  21474.0

### Para saber más: explorando la documentación
La biblioteca Pandas es una de las herramientas más poderosas disponibles para análisis de datos en Python. Ofrece una amplia variedad de funciones que hacen que el proceso de manipulación y análisis de datos sea mucho más fácil y eficiente.

Para aprovechar al máximo todas las funciones de la biblioteca, es esencial explorar su documentación, que es extensa y está bien organizada, y a la que se puede acceder fácilmente en línea. Consulta las indicaciones:

- [Función read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

- [Función to_csv](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

Explorar la documentación de la biblioteca es importante por varias razones. Puede ayudarle a comprender cómo las funciones y métodos de la biblioteca funcionan y cómo se pueden utilizar para analizar y manipular datos.

Además, la documentación proporciona detalles sobre los parámetros de cada función y ejemplos de cómo se pueden utilizar en la práctica. Entonces, intenta profundizar tus estudios sobre los parámetros de cada función read_csv y to_csv y aprende más sobre cada uno de ellos.

## Ejercicio Aula -1

### 🏋️‍♂️ Desafío Práctico: Ingesta de Datos Complejos (DATASUS)

**Contexto del Negocio:**
Disponemos de un archivo en formato CSV obtenido de la página *Información de Salud (TABNET) - DATASUS*. Este archivo contiene el registro de gastos hospitalarios públicos de cada una de las Unidades de la Federación Brasileña (enero 2008 - marzo 2021).

**Objetivo:**
Ingestar el archivo utilizando la función `pd.read_csv` de Pandas, limpiando la "basura" (metadatos) que viene incrustada en el archivo original antes de que llegue a nuestro DataFrame.

**Requisitos Técnicos (Parámetros a configurar):**
1. **Separador:** Inspeccionar si el archivo utiliza coma (`,`) o punto y coma (`;`).
2. **Codificación (Encoding):** El sistema origen utiliza el alfabeto `ISO-8859-1`.
3. **Omisión de Cabeceras (Skip Rows):** Ignorar las primeras 3 líneas del archivo, ya que el encabezado tabular real comienza recién en la cuarta línea.
4. **Omisión de Pie de Página (Skip Footer):** Ignorar las últimas 9 líneas, ya que son notas al pie sobre la fuente de los datos y romperían la estructura de la base de datos.
5. **Motor de Procesamiento:** Para que Pandas pueda aplicar la omisión del pie de página de manera segura, es estrictamente necesario habilitar el motor nativo agregando el parámetro `engine='python'`.

In [26]:
import pandas as pd
import chardet

# 1. Definición de Rutas y Constantes
RUTA_ARCHIVO_SALUD = '/content/drive/MyDrive/Pandas/datos_sus.csv'
TAMANO_MUESTRA_BYTES = 20000

# 2. Detección dinámica del Encoding
with open(RUTA_ARCHIVO_SALUD, 'rb') as archivo_crudo:
    muestra_datos = archivo_crudo.read(TAMANO_MUESTRA_BYTES)
    resultado_auditoria = chardet.detect(muestra_datos)

encoding_detectado = resultado_auditoria['encoding']
print(f"🔍 Auditoría completada: Encoding '{encoding_detectado}' detectado.")

# 3. Ingesta de Datos Estricta (Inyección de Parámetros de Limpieza)
df_salud = pd.read_csv(
    RUTA_ARCHIVO_SALUD,
    encoding=encoding_detectado,
    sep=';',              # Regla 1: El separador es punto y coma
    skiprows=3,           # Regla 2: Saltamos los 3 primeros renglones de basura
    skipfooter=9,         # Regla 3: Saltamos los 9 últimos renglones de notas al pie
    engine='python'       # Regla 4: Obligatorio para que skipfooter funcione
)

# 4. Inspección de calidad
print("\n--- Base de Datos DATASUS (Limpiada) ---")
display(df_salud.head())

🔍 Auditoría completada: Encoding 'ISO-8859-1' detectado.

--- Base de Datos DATASUS (Limpiada) ---

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2020/Jul,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar,Total
0,Rondônia,"1388528,39","2931283,42","1541682,52","1525314,96","1645953,84","1406150,68","3065279,01","3231494,61","3117178,63",...,"11824687,13","11733307,76","10201985,14","7955139,45","9357946,29","8880836,55","9266014,59","7730597,04","11023309,47","996411254,68"
1,Acre,"902416,00","1497206,26","1794028,48","1730469,42","1819443,92","1828496,00","2511754,59","2089107,14","2275708,53",...,"3915193,20","3640142,82","3391242,21","4044321,44","3276590,10","3696997,31","3715723,12","3538427,92","4077045,92","450048530,47"
2,Amazonas,"4735529,42","7118990,57","8196635,49","8259378,42","7831399,90","8477273,62","9368858,72","9352532,70","9363099,35",...,"19769460,14","18059931,43","17841015,63","16408315,10","19895617,91","17765167,69","21430289,17","25917134,55","22032176,22","1917247936,05"
3,Roraima,"657889,53","777939,31","718688,03","839994,39","862347,96","832440,66","996693,09","894271,18","910424,17",...,"3015488,30","2826486,18","2928043,91","3090313,73","3621031,05","3454460,94","3266928,47","3519773,73","3985530,08","328876965,09"
4,Pará,"18864744,11","19553758,20","21937342,70","20842829,69","23249952,88","23240687,56","24002223,56","23341218,03","25172261,32",...,"40804126,43","44385715,88","36820249,47","36965931,34","39004315,80","38015145,79","38354682,46","37688314,23","33276392,89","4705309002,29"